@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	background-color: #f0f0f0;
}
