@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-display: 'Arial', 'sans-serif';
}

@layer base {
	html {
		@apply text-sm; /* or text-lg, text-sm, etc. */
	}
}

/* Target Carbon Charts' title element */
.cds--cc--title .title {
	text-align: center !important; /* or left, right */
	font-size: 0.9rem !important; /* your preferred font size */
	/* Optional: font-weight, color, margin adjustments */
}
